{% extends 'admin.html.twig' %}

{% block title %}Категории{% endblock %}

{% block body %}
    <h1>Категории</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Иконка</th>
                <th>действие</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.img }}</td>
                <td>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Создать новую</a>
{% endblock %}
